.bordered{
    border: 1px solid lightgray;
    margin: 2em;
    text-align: center;
    border-radius: 2rem;
    width: 20%;
}
.bordered img{
    margin-top: 10px;
    display: inline-block;
    width: 85%;
    object-fit:cover ;
}
.bordered p{
    font-weight: bold;
    font-family: system-ui;
    color: darkslategray;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
h1{
    text-align: center;
}
footer{
    height: 200px;
    background-color: lightgray;
    margin: 0;
    text-align: center;
    padding: 20px;

}
body{
    margin: 0;
}
