.bordered{
    border: 1px solid lightgray;
    border-radius: 2rem;
    margin: 2em;
width: 20%;
}
.bordered img{
    display: inline-block;
    width: 50%;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
